---
import Layout from '../layouts/Layout.astro';
---

<Layout title="SAbout the projects">
	<h1 class="text-white">About the projects</h1>
    <p class="text-white">The SpaceX launches project is a demo for astro dev</p>
</Layout>